<p id="notice"><%= notice %></p>
<% provide(:title, @user.name) %> 
<div class="row">
  <aside class="col-md-4"> 
     <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %> </h1>
    </section>
  </aside>
  <div class="col-md-8">
     <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3> 
        <ol class="microposts">
            <%= render @microposts %>
        </ol>
     <% end %>
  </div>
</div>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if user_signed_in? && @user.id == current_user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
