<div id="micropost" data-id="<%= @micropost.id %>" data-user="<%= @micropost.user_id %>">
 <div id="user" data-id="<%= current_user.id %>">
   <p id="notice"><%= notice %></p>

<% if @micropost.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @micropost.image %>
  </p>
<% end %>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @micropost.created_at %>
</p>

</p>
  <strong>Category:</strong><p>
  <%= @micropost.categories.count %> Categories</p>
  <% @micropost.categories.pluck(:name).each do |cat| %>
    <li><%=cat %></li>
  <%end%>
</p>

<p>
  <strong>User:</strong>
  <%=@micropost.user_name %>
</p>


<!--<p><%= @micropost.comments.count %> Comments</p>-->
<!-- <%= render partial: 'comments/comment', collection: @micropost.comments %>-->
<p>leave a reply</p>
<p>
<ul id="comments"></ul>
<%= render partial: 'comments/form', locals: { micropost: @micropost } %>
</p>
  <% if user_signed_in? && @micropost.user_id == current_user.id %>
    <%= link_to 'Edit', edit_micropost_path(@micropost) %>
  <% end %>
  <%= link_to 'Back', microposts_path %>
  </div>
</div>

<script>
$(function() {
  var url = '/comments.json?micropost_id=' + $('#micropost').data('id')
  $.get(url, function(result) {
    result.forEach(function(comment) {
      var li = $('<li>')
      li.text(`name: ${comment.name} comment: ${comment.comment}`)
      // li.text('name: ' + comment.name + 'comment: ' + comment.comment)
      if ($('#micropost').data('user') == $('#user').data('id')) {
        li.append(`<a href='/comments/${comment.id}?micropost_id=${comment.micropost_id}' data-method="delete">Delete</a>`)
      }
      $('#comments').append(li)
    })
  })
})
</script>