<p id="notice"><%= notice %></p>

<% if @micropost.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @micropost.image %>
  </p>
<% end %>
<p>
  <strong>Category:</strong><p>
  <%= @micropost.categories.count %> Categories</p>
  <% @micropost.categories.pluck(:name).each do |cat| %>
    <li><%=cat %></li>
  <%end%>
</p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
    <strong>User:</strong>
    <%=@micropost.user.name %>
</p>
<p><%= @micropost.comments.count %> Comments</p>
  <%= render partial: 'comments/comment', collection: @micropost.comments %>
<p>leave a reply</p>
  <%= render 'comments/form' %>
  
<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
<%= link_to 'Back', microposts_path %>


  
