<!DOCTYPE html>
<html>
    <head>
        <title>ToyApp</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

 
    <body>
        <%= yield %>
        <ul>
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <% else %>
                <li><%= link_to('Login', new_user_session_path)%></li>
            <% end %>
        </ul>
    </body>
</html>
